body {
  background-color: purple;
}
form {
  background-color: gray;
  text-align: center;
}

#demo {
  color: white;
  text-align: right;
}
label {
  padding-right: 30;
}
button {
  background-color: aqua;
  color: white;
}
.onHover:hover {
  background-color: white;
  color: blueviolet;
}
input {
  color: white;
  background-color: black;
}
input:focus {
  background-color: purple;
  box-shadow: red;
}
span {
  color: red;
}
